*.pyc
.pronsolerc
*.swp
*.bak
*.mo
uploads
.DS_Store
.vagrant
prontserve-env
pronterface.spec
pronsole.spec
plater.spec
printrun/gcoder_line.c
printrun/gcoder_line*.so
printrun/gcoder_line*.pyd
.project
.pydevproject
/build/
/dist/
/venv/
/.vscode/

/wheelhouse/
*.egg-info/

/v3/
/.vs/
/dist
/slic3rconf.ini
/PrusaSlicer.ini
/.eggs
/SuperSlicer.ini
