[Desktop Entry]
Type=Application
Name=Pronsole
GenericName=Printer console
Comment=Controls your 3D printer form console
Icon=pronsole
Exec=/usr/bin/pronsole.py
StartupNotify=true
Terminal=true
Categories=Utility;Graphics;3DGraphics;ConsoleOnly;
