[Desktop Entry]
Type=Application
Name=Pronterface
GenericName=Printer Interface
Comment=Controls your 3D printer
Icon=pronterface
Exec=/usr/bin/pronterface.py %f
Path=/usr/share/pronterface/
StartupNotify=true
Terminal=false
Categories=GNOME;GTK;Utility;Graphics;3DGraphics;
MimeType=application/sla;model/x.stl-binary;model/x.stl-ascii;text/x.gcode;
