pyserial (>= 3.0)
#wxPython >= 4.1.0 ; python_version < '3.10'
wxPython >= 4.1.0 ; sys_platform != 'win32'
wxPython >= '4.2'; python_version >= '3.7' and sys_platform == 'win32'

# In case latest development snapshot of wxPython >= '4.2.0a1 is needed 
# For Python >= 3.10 Windows 10 (only x64 is supported)
# -f https://wxpython.org/Phoenix/snapshot-builds/
# wxPython >= '4.2.0a1'; python_version >= '3.10' and sys_platform == 'win32'

numpy (>= 1.8.2)
pyglet (>= 1.1)
cffi
cairocffi
cairosvg (>= 1.0.9)
psutil (>= 2.1)
lxml (>= 2.9.1)
appdirs (>= 1.4.0)
dbus-python >= 1.2.0 ; sys_platform == 'linux'
pyobjc-framework-Cocoa ; sys_platform == 'darwin'
pyreadline ; sys_platform == 'win32'
