<!doctype html>
<html>
<head>
  <title>Prontserve</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">
</head>

<body>

  <div class="lead-box">
    <h1>
      Prontserve BETA is Online
    </h1>
    <p class="lead">
      Prontserve is ready to print. Why not try it out with
      <a href="/inspect">Inspector</a> or
      <a href="https://github.com/D1plo1d/tegh">Tegh</a>?
    </p>
  </div>

</body>

</html>