<!doctype html>
<html>
<head>
  <title>Pronserve Inspector</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="/static/css/inspect.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>
          Pronserve Inspector
        </h1>
        <div class="sensors">
          <div class="extruder pull-right">
            Extruder: <span class="val">xx.xx</span><span class="deg">&deg;C</span>
          </div>
          <div class="bed pull-right">
            Bed: <span class="val"/>xx.xx</span><span class="deg">&deg;C</span>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="well console">
          <pre>
            Connecting...
          </pre>
        </div>
      </div>
    </div>
  </div>


  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sugar/1.3.9/sugar.min.js"></script>
  <script src="/static/js/inspect.js"></script>
</body>

</html>